__pycache__/
*.py[cod]
*$py.class

.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

build/
dist/
*.egg-info/
.eggs/

pip-log.txt
pip-delete-this-directory.txt
*.log

.pytest_cache/
.coverage
.tox/
.nox/

.mypy_cache/
.pyre/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

*.sqlite
*.sqlite3
*.db
*.db-journal

.env.local
.env.*.local
secrets.yml

*.pyc
*.pyo
*.pyd
