{% extends 'first_app/base.html' %}
{% load static %}


{% block content %}
<title>Website - Bellatrix</title>
<style>
body{
    background-color: #121212;
    font-family: "Inter", sans-serif;
    color: white;
    padding-top: 30px;

}
.story{
    padding: 20px;
}
.heading{
    text-align: center;
}
.heading h1{
    text-align: center;
    font-size: 3rem;

}
.paragraphs{
    text-align: center;
}
.paragraphs p{
    font-family: 'Alumni Sans Pinstripe', sans-serif;
    font-size: 1.3rem;
    line-height: 1.3;
}

</style>

    <section class="story">
    <div class="content">
        <div class="heading">
        <h1>ALWAHID HONEY</h1>
            </div>
    <div class="paragraphs">
        <p>Alwahid honey is a honey corporation in peshawer,pakistan;
            harvesting honey form the depths of nature and serving
            it to the community, Alwahid honey received
            significantly 5 stars review for their unforgettable taste </p>
            <p>here is how we increased their demand step by
            step; 1st we hired the best employees in that location
                2nd; we made a user-attracting webstore for their products
            </p>
    </div>


    </div>

    </section>


{% endblock content %}