{% extends 'first_app/base.html' %}
{% load static %}
{% block content %}
<title>Work - Bellatrix</title>

<style>
body{
    background-color: #0c0c0c;
    font-family:'Inter',sans-serif;


}

.work{

    padding: 50px 30px 30px 30px;
    overflow: hidden;
}

.work-content h1{
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 50px;
}

.work-gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(620px, 1fr));
    gap: 20px;
}

.work-gallery img{
    width: 100%;
    height: 535px;
    object-fit: cover;
    border-radius: 4px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    display: block;
}

@media (max-width: 675px) {
    .work-gallery a{
        repeat(auto-fit, minmax(50px, 1fr));
        max-width: 30%;
    }

}

.loaded .work-gallery img{
    opacity: 1;
}

.image:hover{
    transform: translateY(-4px) scale(1.05);
    background: #191919;
}
</style>

<section class="work">
    <div class="work-content">
        <h1>Our Work</h1>
        <div class="work-gallery">
            <a href="{% url 'subweb' website='web1' %}"><img data-src="{% static 'first_app/img/1-01.png' %}" src="{% static 'first_app/img/1-01.png' %}"></a>
            <a href="{% url 'subweb' website='web2' %}"><img data-src="{% static 'first_app/img/1-02.png' %}" src="{% static 'first_app/img/1-02.png' %}"></a>
            <a href="{% url 'subweb' website='web3' %}"><img data-src="{% static 'first_app/img/1-03.png' %}" src="{% static 'first_app/img/1-03.png' %}"></a>
            <a href="{% url 'subweb' website='web4' %}"><img data-src="{% static 'first_app/img/1-04.png' %}" src="{% static 'first_app/img/1-04.png' %}"></a>
            <a href="{% url 'subweb' website='web4' %}"><img data-src="{% static 'first_app/img/1-05.png' %}" src="{% static 'first_app/img/1-05.png' %}"></a>

        </div>
    </div>
</section>

<script>
document.addEventListener("DOMContentLoaded", () => {
    const galleryImages = document.querySelectorAll('.work-gallery img');

    galleryImages.forEach(img => {
        const highRes = new Image();
        highRes.src = img.dataset.src;
        highRes.onload = () => img.src = highRes.src;
    });

    window.addEventListener('load', () => document.body.classList.add('loaded'));
});
</script>

{% endblock content %}
